@import "vars"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
	//

@media only screen and (max-width : 991px)
	//

@media only screen and (max-width : 767px)
	.basic-menu
		&__list
			justify-content: center
	.company
		text-align: center
		margin-bottom: 20px
	.team-box__item
		margin-bottom: 30px
	.team-box__name
		font-size: 4vw
	.team-box__status
		font-size: 3vw

@media only screen and (max-width : 575px)
	div[class*="col"]:nth-child(16)
		.top-grid__item
			margin-top: -100%
	div[class*="col"]:nth-child(17)
		.top-grid__item
			margin-top: -200%
	div[class*="col"]:nth-child(18)
		.top-grid__item
			margin-top: -300%
			margin-left: 0
	div[class*="col"]:nth-child(4)
		.top-grid__item
			margin-left: -100%
	div[class*="col"]:nth-child(8),
	div[class*="col"]:nth-child(10),
	div[class*="col"]:nth-child(12),
		.top-grid__item
			margin-top: -200%
	div[class*="col"]:nth-child(15)
		.top-grid__item
			margin-top: -100%
	div[class*="col"]:nth-child(11),
	div[class*="col"]:nth-child(14),
		.top-grid__item
			z-index: 1
	.logo
		font-size: 44px
		text-align: center
	h1
		text-align: center



/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	div[class*="col"]:nth-child(4),
	div[class*="col"]:nth-child(11)
		.top-grid__item_menu
			background-color: $accent

@media only screen and (min-width : 576px)
	div[class*="col"]:nth-child(11)
		.top-grid__item_menu
			background-color: $accent-light
	div[class*="col"]:nth-child(8)
		.top-grid__item_menu
			background-color: $accent

@media only screen and (min-width : 768px)
	div[class*="col"]:nth-child(8)
		.top-grid__item_menu
			background-color: $accent-light
	div[class*="col"]:nth-child(7),
	div[class*="col"]:nth-child(15)
		.top-grid__item_menu
			background-color: $accent
