// @import "bourbon"

@import "fonts"
@import "vars"

*::-webkit-input-placeholder
	color: #777
	opacity: .5

*::-moz-placeholder
	color: #777
	opacity: .5

*:-ms-input-placeholder
	color: #777
	opacity: .5

*::-ms-clear // убрать крестик очистки поля в IE
	display: none

*:invalid // убрать обводку незаполн. поля в Мозиле
	box-shadow: none

input:focus:required:invalid,
textarea:focus:required:invalid
	color: red
	border: 1px solid red
	background-color: transparent

input:required:valid,
textarea:required:valid
	border: 1px solid green
	color: green
	background-color: transparent

body
	min-width: 320px
	line-height: 1.5
	font-family: OpenSansLight, sans-serif
	color: #333
	font-size: 16px

*
	margin: 0
	padding: 0

h1, h2, h3, h4, h5
	margin: 0
	padding: 0
	font-family: OpenSansSemiBold, sans-serif
	text-transform: uppercase

ul, li
	display: block
	margin: 0
	padding: 0

section
	padding: 60px 0

.btn
	color: $accent
	text-decoration: none
	cursor: pointer
	display: inline-block
	padding: 15px 30px
	border: 2px solid $accent
	text-align: center
	outline: none
	border-radius: 30px
	background-color: transparent
	transition: all .5s ease
	&:hover
		text-decoration: none
		color: #fff
		background-color: $accent

.s-title
	font-size: 38px
	color: $accent
	text-align: center
	position: relative
	padding-bottom: 20px
	font-weight: 300
	margin-bottom: 60px
	&::after
		position: absolute
		display: block
		content: ''
		width: 30%
		height: 1px
		background-color: #b5b5b5
		bottom: 0
		left: 50%
		transform: translateX(-50%)
		z-index: 0
	&::before
		position: absolute
		display: block
		content: ''
		width: 10%
		height: 3px
		background-color: $accent
		bottom: -1px
		left: 50%
		transform: translateX(-50%)
		z-index: 1
	&_white
		color: #fff
		&::before
			background-color: #fff
/* HEADER */
.header
	background-image: url('../img/header-bg.jpg')
	background-position: center top
	background-size: cover
	background-repeat: no-repeat
	display: flex //!!важно для вертик выравн
	flex-direction: column //!!важно
	.fas
		font-size: 30px
		color: red
		text-align: center
		display: block

.header-wrap
	display: flex //!!важно
	flex-direction: column //!!важно
	justify-content: center //!!важно
	min-height: 100vh //!!важно
	padding: 50px 0

.logo
	display: block
	text-decoration: none
	color: #fff
	letter-spacing: -5px
	font-size: 52px
	text-transform: uppercase
	font-family: OpenSansBold, sans-serif
	line-height: 1
	position: absolute
	top: 20%
	left: 0
	z-index: 1
	width: 200%
	text-align: left
	span
		color: $accent-light
	&:hover
		text-decoration: none
		color: #fff

h1
	font-family: OpenSansLight, sans-serif
	font-size: 20px
	color: #fff
	letter-spacing: 3px
	text-transform: none
	font-weight: 300
	position: absolute
	top: 50%
	left: 0
	z-index: 1
	width: 200%
	text-align: left

.top-grid
	width: 100%
	&__item
		display: block
		width: 100%
		padding-bottom: 100% // от его ширины! будет квадрат
		// padding-bottom: 50% // будет пямоугольник 2:1
		position: relative
		text-decoration: none
	&__content
		position: absolute
		width: 100%
		height: 100%
		padding: 20% 0
		text-align: center
	&__item_menu
		background-color: $accent-light
	&__item_gallery
		background-position: center center
		background-repeat: no-repeat
		background-size: cover
	&__item_empty
		background-color: transparent
	&__image
		background-image: url('../img/top-users.png')
		background-repeat: no-repeat
		background-position: center top
		background-size: contain
		height: 40%
		margin: 0 auto
	&__title
		color: #fff
		font-size: 16px
		letter-spacing: -1px
		position: absolute
		bottom: 20%
		width: 100%
		font-weight: 300
	div[class*="col"]:nth-child(7)
		.top-grid__image
			background-image: url('../img/top-lcd.png')
	div[class*="col"]:nth-child(8)
		.top-grid__image
			background-image: url('../img/top-pen.png')
	div[class*="col"]:nth-child(11)
		.top-grid__image
			background-image: url('../img/top-info.png')
	div[class*="col"]:nth-child(15)
		.top-grid__image
			background-image: url('../img/top-mail.png')

a.top-grid__item::before
	content: ''
	position: absolute
	width: 100%
	height: 100%
	top: 0
	left: 0
	background-color: #000
	opacity: 0
	transition: all .5s ease

a.top-grid__item:hover::before
	opacity: .2
/* END HEADER */

/* NAV */

.top-line
	background-color: $accent
	padding: 40px 0

.basic-menu
	&__list
		display: flex
		justify-content: flex-end
		flex-wrap: wrap
	&__item
		margin-left: 25px
		&:first-child
			margin-left: 0
	&__link
		font-family: OpenSansRegular, sans-serif
		font-size: 16px
		color: #fff
		text-transform: uppercase
		// letter-spacing: -1px
		font-weight: 300
		text-decoration: none
		position: relative
		&:hover
			color: #fff
			text-decoration: none
		&::after
			position: absolute
			content: ''
			width: 100%
			height: 2px
			left: 0
			bottom: -2px
			display: block
			background-color: #fff
			transform: scaleX(0)
			transition: all .2s ease
		&:hover::after
			transform: scaleX(1)
/* END NAV */

/* SECTION ABOUT */

.skills
	margin-bottom: 60px

.skills__title
	font-family: OpenSansLight, sans-serif
	font-size: 25px
	font-weight: 300
	margin-bottom: 40px

.skills__name
	font-family: OpenSansLight, sans-serif
	font-size: 16px
	font-weight: 300
	margin-bottom: 10px

.skills__line
	position: relative
	color: #fff
	margin-bottom: 30px
	height: 26px
	line-height: 26px
	background: $grey
	border-radius: 13px
	width: 100%
	font-size: 13px

.skills__progress
	height: 26px
	width: 44px
	background: $accent
	border-radius: 13px
	padding-left: 10px

.notepad
	position: relative
	padding-top: 63%
	margin-bottom: 50px
	&__monitor
		position: absolute
		bottom: 9%
		left: 50%
		transform: translateX(-50%)
		width: 83%
		height: 91%
		background-color: #1e2323
		border-radius: 10px 10px 0 0
		padding: 5%
	&__cam
		display: block
		height: 8px
		width: 8px
		background-color: #323737
		border-radius: 50%
		position: absolute
		left: 50%
		top: 3%
		transform: translateX(-50%)
	&__slider
		overflow: hidden
		position: relative
		&::before
			background: rgba(#fff, .2)
			bottom: 100%
			content: ''
			display: block
			height: 100%
			position: absolute
			right: 0
			transform-origin: 100% 100%
			transform: rotate(-32.5deg)
			width: 150%
			z-index: 1
	&__slider-item
		
	&__slider-image
		max-width: 100%
	&__touch
		background-color: #c8c8c8
		height: 6%
		width: 100%
		position: absolute
		bottom: 3%
		left: 0
	&__touch-center
		position: absolute
		background-color: #aaaaaa
		height: 50%
		width: 15%
		top: 0
		left: 50%
		transform: translateX(-50%)
		border-radius: 0 0 10px 10px
	&__touch-bottom
		position: absolute
		background-color: #aaaaaa
		height: 3%
		width: 100%
		bottom: 0
		left: 0
		border-radius: 0 0 20px 20px

/* END SECTION ABOUT */

/* SECTION TEAM */

.s-team
	background-image: url('../img/our-team-bg.jpg')
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	// min-height: 700px
	&__text
		color: #fff
		margin-bottom: 60px
		text-align: center

.team-box
	&__item
		font-family: "OpenSansRegular", sans-serif
		position: relative
		padding-top: 100%
		cursor: pointer
		border-radius: 50%
		&:hover
			.team-box__front
				transform: rotateY(180deg)
			.team-box__back
				transform: rotateY(360deg)
	&__front, &__back
		position: absolute
		width: 100%
		height: 100%
		left: 0
		top: 0
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		transition: 1s
		backface-visibility: hidden
		border-radius: 50%
	&__front
		background-color: transparent
		border: 5px solid $accent
	&__back
		background-color: $accent
		transform: rotateY(180deg)
		color: #fff
		border: 5px solid #fff
	&__face
		max-width: 100%
		border-radius: 50%
	&__name
		font-size: 2vw
	&__status
		font-size: 1.5vw

/* END SECTION TEAM */

/* SECTION NUMBERS */

.s-numbers
	background-color: $accent

.counter
	color: #fff
	font-family: "OpenSansSemiBold", sans-serif
	&__item
		text-align: center
	&__number
		font-size: 60px
		display: block
	&__text
		display: block
		font-size: 19px



/* END SECTION NUMBERS */



@import "media"