// @import "bourbon"

@import "fonts"
@import "vars"

*::-webkit-input-placeholder
	color: #777
	opacity: .5

*::-moz-placeholder
	color: #777
	opacity: .5

*:-ms-input-placeholder
	color: #777
	opacity: .5

*::-ms-clear // убрать крестик очистки поля в IE
	display: none

*:invalid // убрать обводку незаполн. поля в Мозиле
	box-shadow: none

input:focus:required:invalid,
textarea:focus:required:invalid
	color: red
	border: 1px solid red
	background-color: transparent

input:required:valid,
textarea:required:valid
	border: 1px solid green
	color: green
	background-color: transparent

body
	min-width: 320px
	line-height: 1.5
	font-family: OpenSansLight, sans-serif
	color: #333
	font-size: 16px

*
	margin: 0
	padding: 0

h1, h2, h3, h4, h5
	margin: 0
	padding: 0
	font-family: OpenSansSemiBold, sans-serif
	text-transform: uppercase

ul, li
	display: block
	margin: 0
	padding: 0

.s-title
	font-size: 38px
	color: $accent
	text-align: center
	position: relative
	padding: 48px 0
	&::after
		position: absolute
		display: block
		content: ''
		width: 400px
		height: 1px
		background-color: #b5b5b5
		bottom: 0
		left: 50%
		transform: translateX(-50%)
		z-index: 0
	&::before
		position: absolute
		display: block
		content: ''
		width: 100px
		height: 3px
		background-color: $accent
		bottom: -1px
		left: 50%
		transform: translateX(-50%)
		z-index: 1
	&_white
		&::before
			background-color: #fff

.header
	background-image: url('../img/header-bg.jpg')
	background-position: center top
	background-size: cover
	background-repeat: no-repeat
	display: flex //!!важно для вертик выравн
	flex-direction: column //!!важно

.header-wrap
	display: flex //!!важно
	flex-direction: column //!!важно
	justify-content: center //!!важно
	min-height: 100vh //!!важно

.logo
	display: block
	text-decoration: none
	color: #fff
	letter-spacing: -5px
	font-size: 52px
	text-transform: uppercase
	font-family: OpenSansBold, sans-serif
	line-height: 1
	position: absolute
	top: 20%
	left: 0
	z-index: 1
	width: 200%
	text-align: left
	span
		color: $accent-light
	&:hover
		text-decoration: none
		color: #fff

h1
	font-family: OpenSansLight, sans-serif
	font-size: 20px
	color: #fff
	letter-spacing: 3px
	text-transform: none
	font-weight: 300
	position: absolute
	top: 50%
	left: 0
	z-index: 1
	width: 200%
	text-align: left

.top-grid
	width: 100%
	&__item
		display: block
		width: 100%
		padding-bottom: 100% // от его ширины! будет квадрат
		// padding-bottom: 50% // будет пямоугольник 2:1
		position: relative
		text-decoration: none
	&__content
		position: absolute
		width: 100%
		height: 100%
		padding: 20% 0
		text-align: center
	&__item_menu
		background-color: $accent-light
	&__item_gallery
		background-position: center center
		background-repeat: no-repeat
		background-size: cover
	&__item_empty
		background-color: transparent
	&__image
		background-image: url('../img/top-users.png')
		background-repeat: no-repeat
		background-position: center top
		background-size: contain
		height: 40%
		margin: 0 auto
	&__title
		color: #fff
		font-size: 16px
		letter-spacing: -1px
		position: absolute
		bottom: 20%
		width: 100%
		font-weight: 300
	div[class*="col"]:nth-child(7)
		.top-grid__image
			background-image: url('../img/top-lcd.png')
	div[class*="col"]:nth-child(8)
		.top-grid__image
			background-image: url('../img/top-pen.png')
	div[class*="col"]:nth-child(11)
		.top-grid__image
			background-image: url('../img/top-info.png')
	div[class*="col"]:nth-child(15)
		.top-grid__image
			background-image: url('../img/top-mail.png')

a.top-grid__item::before
	content: ''
	position: absolute
	width: 100%
	height: 100%
	top: 0
	left: 0
	background-color: #000
	opacity: 0
	transition: all .5s ease

a.top-grid__item:hover::before
	opacity: .2


@import "media"